Skip to content
This repository
Search
Pull requests
Issues
Gist
 @ryubidragonfire
 Unwatch 1
  Star 0
 Fork 0 ryubidragonfire/test
 Code  Issues 0  Pull requests 0  Wiki  Pulse  Graphs  Settings
Branch: master Find file Copy pathtest/.gitignore
87d9a0c  4 minutes ago
@ryubidragonfire ryubidragonfire Initial commit
1 contributor
RawBlameHistory     63 lines (52 sloc)  764 Bytes
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help